:root {
  --black: rgb(40, 44, 52);
  --white: rgb(255, 255, 255);
  --grey-dark: rgb(133, 139, 150);
  --grey: rgb(190, 190, 190);
  --grey-light: rgb(218, 218, 218);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-size: calc(10px + 1vmin);
  padding: 0.5rem;
}
