<main class="index">
  <h1 class="index-title">Create new timer</h1>
  <div class="index-shortcode-input">
    <label for="shortcode">Timer shortcode</label>
    <input type="text" id="shortcode" value="testing">
  </div>
  <small class="index-url">Timer will  available at http://localhost/testing</small>
  <button>Create timer</button>
</main>