<main class="timer">
  <h2 class="timer-url">http://localhost/testing</h2>
  <h1 class="timer-time">12m 0s</h1>
  <div class="timer-predefined-time">
    <p class="timer-predefined-time-title">Choose countdown time</p>
    <div class="timer-predefined-time-buttons">
      <button>1m</button>
      <button>5m</button>
      <button>10m</button>
      <button>15m</button>
      <button>20m</button>
      <button>30m</button>
      <button>Custom</button>
    </div>
  </div>
  <div class="timer-custom-time">
    <div class="timer-time-input">
      <label for="time">Custom time in minutes</label>
      <input type="number" id="time" value="0">
    </div>
    <button>Set custom time</button>
  </div>
</main>