.Timer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.Timer-url {
  margin: 0;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
}

.Timer-time {
  margin: 0;
  font-size: calc(10px + 20vmin);
  line-height: 1;
}

.Timer-period {
  color: rgb(133, 139, 150);
  margin-right: 0.1em;
}

.Timer-period:last-child {
  margin-right: 0em;
}
