.wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.url {
  margin-top: 0;
  padding: 0 1rem;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
  word-break: break-all;
}

.time {
  margin: 0;
  font-size: 20vw;
  line-height: 1;
}

.period {
  display: block;
}

@media screen and (min-width: 576px) {
  .period {
    display: inline;
  }
}

.unit {
  color: rgb(133, 139, 150);
  margin-right: 0.1em;
}

.unit:last-child {
  margin-right: 0em;
}
