.wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.url {
  margin-top: 0;
  padding: 0 1rem;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
  word-break: break-all;
}
