.button {
  padding: 0.5rem 1rem;
  background: var(--grey-lighter);
  border: none;
  border-radius: 5px;
  font-size: var(--size-3);
  color: var(--black);
}

.button:hover:enabled {
  background: var(--grey-light);
  cursor: pointer;
}

.button:active:enabled {
  background: var(--grey);
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
