.button {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  padding: 1rem;
  background: transparent;
  border: none;
  color: white;
}

.button:hover {
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.button:active {
  color: rgb(190, 190, 190);
  cursor: pointer;
}

.svg {
  height: calc(10px + 4vmin);
  width: calc(10px + 4vmin);
}
