.wrapper {
  margin-bottom: 1.5em;
}

.baseUrl {
  color: var(--grey-dark);
  user-select: none;
}

.input {
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: dashed 0.1em var(--white);
  color: var(--white);
  font-size: 1em;
  text-align: center;
}
