.form {
  margin-bottom: 1.5rem;
}

.baseUrl {
  color: var(--grey-dark);
  user-select: none;
}

.input {
  background: transparent;
  border: none;
  border-bottom: dashed 0.1em var(--grey-dark);
  color: var(--white);
  font-size: 1em;
  text-align: center;
}

.input:focus {
  outline: none;
  border-bottom: dashed 0.1em var(--white);
}

.error {
  display: block;
  font-size: 0.5em;
  margin-top: 1rem;
}

.button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 576px) {
  .button {
    margin-top: 2rem;
  }
}
