.wrapper {
  position: absolute;
  bottom: 2rem;
}

.button {
  margin-left: 1rem;
}

.button:first-child {
  margin-left: 0;
}

.presetButtons {
  display: none;
}

@media screen and (min-width: 576px) {
  .presetButtons {
    display: inline-block;
  }
}

.panel {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--grey-dark);
  border-radius: 5px;
}

.panelInput {
  flex: 1;
  border: none;
  border-radius: 5px;
}

.panelInput:focus {
  outline: none;
}

.panel .button {
  margin-left: 1rem;
}
