.TimerControls {
  position: absolute;
  bottom: 2rem;
}

.TimerControls-button {
  margin-right: 1rem;
}

.TimerControls-button:last-child {
  margin-right: 0;
}

.TimerControls-panel {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgb(133, 139, 150);
  border-radius: 5px;
}

.TimerControls-panel-input {
  flex: 1;
  border: none;
  border-radius: 5px;
}

.TimerControls-panel-input:focus {
  outline: none;
}

.TimerControls-panel .TimerControls-button {
  margin-left: 1rem;
}
