.section {
  display: flex;
  margin-bottom: 1em;
}

.box {
  background: var(--white);
  padding: 1rem;
  margin-right: 1rem;
  color: var(--black);
  font-size: 0.5em;
  border-radius: 5px;
}

.box:nth-child(even) {
  transform: rotate(1deg);
}

.box:nth-child(odd) {
  transform: rotate(-1deg);
}

.box:last-child {
  margin-right: 0;
}
